@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css");
@import "bootstrap-reset.scss";
@import "styles.scss";
@import "highlightr";