h1, h2, h3, h4, h5, h6 {
    margin-top:2.5rem;
    margin-bottom:1rem;
}

code.mermaid {
    display:none;
    &[data-processed="true"] {
        display:block;
    }
    svg {
        margin:25px 0;
    }
}

figure {
    img {
        max-width:100%;
        max-height:350px;
    }
}



.signature {
    max-width:300px;
}

.blockquote, .blockquote-footer {
    border-left: 5px solid $gray-400;
    padding-left:15px;
}

.blockquote {
    font-size:1rem;
}
.blockquote-footer {
    &:before {
        content:"";
    }
}

.mermaid {
    background: $light;
    padding: 15px;
    text-align:center;
    border-radius:10px;
    margin: 15px 0;
    svg {
        height:auto;
        width:100%;
    }

    .cluster rect {
        fill: none !important;
        stroke: $secondary !important;
    }

    .node rect, .node circle, .node polygon {
        fill: $gray-400 !important;
        stroke: $dark !important;
    }
}

:not(.footnotes) > ol {
    list-style: none;
    counter-reset: item;
    background: $light;
    padding:15px;
    border-radius:10px;

    li {
        counter-increment: item;
        margin-bottom: 15px;
    }
    li:before {
        margin-right: 10px;
        content: counter(item);
        background: $dark;
        border-radius: 100%;
        color: white;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        display: inline-block;
    }
}