
/* 

h1, h2, h3, h4, h5, h6 {
    margin-top:2.5rem;
    margin-bottom:1rem;

    & a {
        color:$dark;
        text-decoration: none;
    }
}

mark {
    background: $primary-light;
}

*/

.highlight-box {
    h1, h2, h3, h4, h5, h6 {
        margin-top:0;
    }
    border: 2px solid $dark;
}

.btn-primary {
    color: $dark;
}

.btn-lg {
    font-size: $btn-font-size;
    font-weight: bold;
}

code.mermaid, code.language-mermaid {
    display:none;
    &[data-processed="true"] {
        display:block;
    }
    svg {
        margin:25px 0;
    }
    rect.basic.label-container {
        stroke-width: 2px !important;
    }
}


.mermaid {
    background: $light;
    padding: 15px;
    text-align:center;
    border-radius:10px;
    margin: 15px 0;
    svg {
        height:auto;
        max-height:500px;
        width:100%;
    }

    .cluster rect {
        fill: none !important;
        stroke: $secondary !important;
    }

    .node rect, .node circle, .node polygon {
        fill: $gray-400 !important;
        stroke: $dark !important;
    }
}

:not(.footnotes) > ol {
    list-style: none;
    counter-reset: item;
    padding-left:0.5em;
    > li {
        counter-increment: item;
        margin-bottom: 15px;
    }
    > li:before {
        margin-right: 10px;
        content: counter(item);
        background: $dark;
        border-radius: 100%;
        color: white;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        display: inline-block;
    }
}

/*
figure {
    a[href*="twitter.com"][href*="status"] {
        @extend .social-embedded;
    }
}
*/


figure, article {
    img {
        width:100%;
        max-width:500px;
    }
}

figure {
    text-align: center;
}




table {
    @extend .table;
}

a[href*="youtube"] img {

}
