h1, h2, h3, h4, h5, h6 {
    margin-top:2.5rem;
    margin-bottom:1rem;

    & a {
        color:$dark;
        text-decoration: none;
    }
}

.blog-masthead {
    background-color:black;
}

.newsletter {
    form {
        margin:25px 0 !important;
        padding:0 !important;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
        p {
            font-size:1rem !important;
        }
    }
}

figcaption {
    font-style: italic;
    font-size:0.8em;
}

article img {
    display:block;
}


code.mermaid {
    display:none;
    &[data-processed="true"] {
        display:block;
    }
    svg {
        margin:25px 0;
    }
}

figure, article {
    img {
        max-width:100%;
        max-height:350px;
    }
}



.signature {
    max-width:300px;
}

.blockquote, .blockquote-footer {
    border-left: 5px solid $gray-400;
    padding-left:15px;
}

.blockquote {
    font-size:1rem;
}
.blockquote-footer {
    &:before {
        content:"";
    }
}

.footer {
    padding: 2.5rem 0;
    border-top: .05rem solid #e5e5e5;
}


.mermaid {
    background: $light;
    padding: 15px;
    text-align:center;
    border-radius:10px;
    margin: 15px 0;
    svg {
        height:auto;
        width:100%;
    }

    .cluster rect {
        fill: none !important;
        stroke: $secondary !important;
    }

    .node rect, .node circle, .node polygon {
        fill: $gray-400 !important;
        stroke: $dark !important;
    }
}

:not(.footnotes) > ol {
    list-style: none;
    counter-reset: item;
    background: $light;
    padding:15px;
    border-radius:10px;

    li {
        counter-increment: item;
        margin-bottom: 15px;
    }
    li:before {
        margin-right: 10px;
        content: counter(item);
        background: $dark;
        border-radius: 100%;
        color: white;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        display: inline-block;
    }
}