h1, h2, h3, h4, h5, h6 {
    margin-top:2.5rem;
    margin-bottom:1rem;

    & a {
        color:$dark;
        text-decoration: none;
    }
}

section {
    padding: 2em 0;
}

.bg-dark {
    color: $white;
}

.blog-masthead {
    background-color:black;
}

.navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
}

.newsletter {
    form {
        margin:25px 0 !important;
        padding:0 !important;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
        p {
            font-size:1rem !important;
        }
    }
}

figcaption {
    font-style: italic;
    font-size:0.8em;
}

article img {
    display:block;
}


code.mermaid {
    display:none;
    &[data-processed="true"] {
        display:block;
    }
    svg {
        margin:25px 0;
    }
}

figure, article {
    img {
        width:100%;
    }
}

@include media-breakpoint-up(xxl) {
    figure {

    }
    figure:not(:has(figcaption:empty)) {
        @include make-col(7);
        &:nth-child(even) {
            float:left;
            margin-left: -100% / $grid-columns * 7;
            padding-right: $spacer * 3;
        }
        &:nth-child(odd) {
            float:right;
            margin-right: -100% / $grid-columns * 7;
            padding-left: $spacer * 3;
        }     
    }
}

article.short header {
    background: $light;
    padding: 1rem;
    padding-left:2rem;
    time {
        display:none;
    }
    h2 {
        font-size:1em;
        margin:0;
        font-weight: normal;
    }
    header, h2, a {
        display: inline;
    }
}


article.post.row .image {
    height:12em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom:-1em;
    @include media-breakpoint-up(sm) { 
        background-position: top left;
    }
    @include media-breakpoint-up(lg) { 
        height: 15em;
        margin-top:2em;
    }
}

div > article.short + article.short {
    margin-top: -1rem;
}

article.short + article:not(.short) {
    margin-top: 1rem;
}

article:not(.short) + article.short {
    margin-top:2em;
}

article:not(.short) + article.short, div > article.short:first-child {
    header::before {
        content: "Notizen & Links";
        display:block;
        margin-bottom:1em;
        color:grey;
        margin-left:-1rem;
    }
}


article:not(.short) + article:not(.short) {
    @include media-breakpoint-down(lg) {
        border-top:1px solid grey;
    }
    padding-top:1em;
    margin-top:2em;
}


.signature {
    max-width:300px;
}

.blockquote, .blockquote-footer {
    border-left: 5px solid $gray-400;
    padding-left:15px;
}

.blockquote {
    font-size:1rem;
}
.blockquote-footer {
    &:before {
        content:"";
    }
}

.footer {
    padding: 2.5rem 0;
    border-top: .05rem solid #e5e5e5;
    text-align: center;

    ul {
        @extend .list-inline;
        li {
            @extend .list-inline-item;
        }
        li + li:before {
            content: " | "
        }
    }

}


.mermaid {
    background: $light;
    padding: 15px;
    text-align:center;
    border-radius:10px;
    margin: 15px 0;
    svg {
        height:auto;
        width:100%;
    }

    .cluster rect {
        fill: none !important;
        stroke: $secondary !important;
    }

    .node rect, .node circle, .node polygon {
        fill: $gray-400 !important;
        stroke: $dark !important;
    }
}

:not(.footnotes) > ol {
    list-style: none;
    counter-reset: item;
    @extend .highlight-box;

    li {
        counter-increment: item;
        margin-bottom: 15px;
    }
    li:before {
        margin-right: 10px;
        content: counter(item);
        background: $dark;
        border-radius: 100%;
        color: white;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        display: inline-block;
    }
}

.highlight-box {
    background: $light;
    padding:15px;
    &.white {
        background: $white;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top:0;
    }
}