$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$form-text-color: black;
$hr-opacity: 1;
$border-width: 2px;
$btn-color: white;
$display-font-weight:500;
$list-group-item-padding-y: 2rem;
$table-color: $dark;
$table-border-color: $dark;